.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-btn {
  font-size: 16px;
  width: auto;
  cursor: pointer;
}

.dropdown-items {
  background: #fff;
  width: 100px;
  position: absolute;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border: 1px solid black;
  /* padding: 5px 15px; */
  border-radius: 4px;
}
.dropdown-item {
  cursor: pointer;
}

.isVisible {
  visibility: visible;
}
.isHidden {
  visibility: hidden;
}

.dropdown__link {
  color: black;
  padding: 10px 15px;
}

.dropdown__link:hover {
  color: #00A795;
  background-color:#dedcdc
}
